.filmTheater{
    text-align: center;
    font-size: 30px;
}


.typeFuncionTheater{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
}
.languageTheater{
    text-align: center;
    font-size: 20px;
    margin-right: 50px;
    margin-bottom: 40px !important;
}
.buttonContainer {
    display: flex;
    justify-content: center;
}

#btnTheaters {
    text-align: center;
}
.custom-datepicker{
    max-width: 300px;
}
.grupFech{
    width: 90%;
	max-width: 1000px;
	margin: 50px auto;
	text-align: center;
	background: #fff;
	box-shadow: 0px 0px 20px 0px rgba(209, 209, 209, 0.5);
	padding: 40px;
	border-radius: 5px;
	display: flex;
	gap: 20px;
}
.textTheater{
    width: 100%;
	font-size: 14px;
	color:#3f51b5;
}

.dateTheater, .timeTheater {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.MuiInputBase-input.MuiInput-input {
	text-align: center;
	padding: 20px;
	font-size: 18px;
	text-transform: uppercase;
}
