.ticketIntro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ticketTitle {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
}

.accordion-item {
    background-color: #242333;
}

.accordion-header {
    background-color: #242333;
    color: white;
}

.accordion-body  {
    background-color: #242333;
    color: white;
}

.accordion-button {
    background-color: #242333;
    color: white;
}

.ticketBackdrop {
    width: 50%;
    height: auto; 
    object-fit: cover;
    object-position: 0 35%;
}

.chair {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

.allChair {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.screenTitle {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.container {
    perspective: 1000px;
    margin-bottom: 30px;
}

.seat {
    background-color: #444451;
    height: 26px;
    width: 32px;
    margin: 6px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 10px;
}

.seat.selected {
    background-color: green;
}

.seat.sold {
    background-color: gray;
}

.seat:nth-of-type(2) {
    margin-right: 18px;
}

.seat:nth-last-of-type(2) {
    margin-left: 18px;
}

.seat:not(.sold):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.rowChair {
    display: flex;
}

.screen {
    background-color: #fff;
    height: 200px;
    width: 60%;
    margin: 15px 0;
    transform: rotateX(-25deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.titleMP {
    font-size: 2rem;
    display: flex;
    justify-content: center;
}
.titleFilmMP{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.priceMP, .chairMP, .finalPriceMP {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}

.checkout-btn {
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;  
    font-size: 15px;
}
.btn-MP {
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;  
}