.ticketIntro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ticketTitle {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
}

.accordion-item {
    background-color: #242333;
}

.accordion-header {
    background-color: #242333;
    color: white;
}

.accordion-body  {
    background-color: #242333;
    color: white;
}

.accordion-button {
    background-color: #242333;
    color: white;
}

.ticketBackdrop {
    width: 50%;
    height: auto; 
    object-fit: cover;
    object-position: 0 35%;
}

.chair {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

.allChair {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.screenTitle {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.container {
    perspective: 1000px;
    margin-bottom: 30px;
}

.screen {
    background-color: #fff;
    height: 200px;
    width: 60%;
    margin: 15px 0;
    transform: rotateX(-25deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.titleMP {
    font-size: 2rem;
    display: flex;
    justify-content: center;
}
.titleFilmMP{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.priceMP, .chairMP, .finalPriceMP, .dateMP, .timeMP, .formatMP, .languageMP {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}

.checkout-btn {
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;  
    font-size: 15px;
}
.btn-MP {
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;  
}
/* queda ajustar el tamaño de la pantalla */
.scrollSeats{
    overflow-x: auto !important;
}

.footerTicket{
    margin-bottom: -420px;
}

@media (max-width: 590px) {
    .ticketIntro {
        height: 120px;
    }
    .ticketBackdrop{
        width: 300px;
    }
    .screen {
        background-color: #fff;
        height: 200px;
        width: 60%;
        margin: 15px 0;
        transform: rotateX(-25deg);
        box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
        width: 500px;
        margin-left: 300px;
    }
    .screenTitle {
        margin-left: 300px;
    }
    
    
}