.poster {
    position: relative;
}

.posterImage {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.posterImage__img {
    margin: auto;
    display: block;
    width: 100%;
    transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}

.posterImage__overlay {
    position: absolute;
    padding: 5rem;
    bottom: 0px;
    height: 70%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
    opacity: 1;
    transition: opacity .3s;
}

.posterImage__title {
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 0.4rem;
    text-align: left;
    margin-bottom: 160px;
    font-family: emoji;
}

.slick-dots li button:before {
    font-size: 12px;
    color: gray;
}

.slick-dots li.slick-active button:before {
    color: skyblue;
}

.carousel .slick-dots {
    bottom: 10px;
    right: 10px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    list-style: none;
}

/* scroll */
.scrolldown {
    --color: white;
    --sizeX: 30px;
    --sizeY: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--sizeX);
    height: var(--sizeY);
    border: calc(var(--sizeX) / 10) solid var(--color);
    border-radius: 50px;
    box-sizing: border-box;
    cursor: pointer;
}

.scrolldown::before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: var(--color);
    border-radius: 100%;
    animation: scrolldown-anim 2s infinite;
    box-sizing: border-box;
    box-shadow: 0px -5px 3px 1px #2a547066;
}

@keyframes scrolldown-anim {
    0% {
        opacity: 0;
        height: 6px;
    }

    40% {
        opacity: 1;
        height: 10px;
    }

    80% {
        transform: translate(0, 20px);
        height: 10px;
        opacity: 0;
    }

    100% {
        height: 3px;
        opacity: 0;
    }
}

.chevrons {
    padding: 6px 0 0 0;
    margin-left: -3px;
    margin-top: 48px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chevrondown {
    margin-top: -6px;
    position: relative;
    border: solid var(--color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
    animation: pulse54012 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
    animation: pulse54012 500ms ease infinite alternate 250ms;
}

@keyframes pulse54012 {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.5;
    }
}

@media (max-width: 842px){
    .posterImage__title{
        font-size: 20px;
    }
}
@media (max-width: 670px){
    .posterImage__title{
        font-size: 20px;
    }
}
@media (max-width: 490px){
    .posterImage__title{
        font-size: 15px;
    }
    .posterImage > img {
        margin: auto;
        display: block;
        width: 100%;
        height: auto;
        transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
    }
    .loadingFilm {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        gap: 0.625em;
        transform: translate(-55%, -50%);
    }
    
}
