.containerChangePassword {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 79.6vh;
}

.formChangePassword {
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.titleChangePassword {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
}

.formLabelChangePassword {
    font-weight: bold;
    color: #333;
}

.formControlChangePassword {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    width: 100%;
}

.formControlChangePassword:focus {
    border-color: #80bdff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
    outline: none;
}

.btnChangePassword {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}


.inputContainer {
    position: relative;
    margin-bottom: 1rem;
}

.togglePassword {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

#btnChangePasswordCancel{
    margin-top: 70px;
}

.passwordToggleChange {
    position: absolute;
    right: 20px; 
    top: 40%; 
    transform: translateY(-20%); 
    background: none;
    border: none;
    cursor: pointer;
    color: #fff; 
    outline: none;
}
.footerChangePasseword{
    margin-bottom: -585px;
}

@media (max-width: 390px){
    .btnEditUser{
        flex-direction: column; 
        align-items: center; 
        text-align: center;
    }
    .formChangePassword {
        max-width: 300px;
        width: 100%;
    }
    .formControlChangePassword{
        font-size: 14px;
    }
    .btnChangePassword{
        margin: 0px;
    }
    #btnChangePasswordCancel,
    #btnChangePasswordUpdate{
        margin-top: 20px;
        font-size: 13px;
    }
}