@media (max-width:  384px){
    .btnEditUser{
        flex-direction: column; 
        align-items: center; 
        text-align: center;
    }
    #btnChangePassword{
        margin-left: 15px;
    }
    .btnCancel{
        margin: 20px 0px 0px 0px !important;
    }
}