.userHistory{
    display: flex;
    justify-content: center;
    gap: 340px;
    margin-bottom: 625px;
}
.titleLogged {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

.btnUser{
    display: flex;
    justify-content: end;
    margin-right: 20px;
    gap: 20px;
}

.buttonUser {
    position: relative;
    padding: 8px 24px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 50px;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.buttonUser:hover {
    transform: scale(1.05);
    color: #000;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.buttonUser:active {
    transform: scale(0.9);
}

.buttonUser::before {
    content: "";
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #007bff, #00bfff);
    transition: all 0.85s ease-in-out;
    z-index: -1;
    border-radius: 50px;
}

.buttonUser:hover::before {
    right: 100%;
}

.adminFeatures {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 20px; 
}

.adminLink {
    margin-bottom: 50px;
    text-decoration: none;
}
.footerLogged{
    margin-bottom: 285px;
}