.headerNav {
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.navbar-collapse {
    justify-content: center;
}


a > span {
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

a > span:hover {
    color: purple;
}

.userActive {
    font-size: 1.3rem;
    color: white;
    text-transform: uppercase;
    margin: 0px 10px;
}

