/* Estilos generales */
.headerNav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Oculta el icono de hamburguesa en pantallas grandes */
.hamMenuIcon {
    display: none;
}

.menuLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menuLinks a {
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.3rem;
}

.menuLinks a:hover {
    color: #6748ce;
}

.userActive {
    font-size: 1.3rem;
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 10px; 
}

.iconUser {
    height: 24px; 
    width: auto;
}

/* Estilos para menú de hamburguesa en pantallas pequeñas */
@media (max-width: 991px) {
    .hamMenuIcon {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 30px; 
        width: 30px; 
        cursor: pointer;
        z-index: 1001;
        position: absolute;
        left: 10px; 
    }

    .hamMenuIcon span {
        background-color: #6F86FF;
        height: 3px; 
        width: 100%;
        transition: all 0.3s ease;
        padding: 2px 0; 
    }

    .hamMenuIcon.active span:nth-child(1) {
        transform: rotate(45deg) translate(10px, 6px);
    }

    .hamMenuIcon.active span:nth-child(2) {
        opacity: 0;
    }

    .hamMenuIcon.active span:nth-child(3) {
        transform: rotate(-45deg) translate(8px, -5px);
    }

    /* Estilos para el menú desplegable */
    .menuLinks {
        display: none;
        position: absolute;
        top: 0;
        left: 100%; 
        width: 70%; 
        height: 100vh; 
        background-color: rgba(35, 37, 48, 0.9); 
        flex-direction: column;
        align-items: center;
        z-index: 1000;
        transition: all 0.3s ease;
    }

    /* Mostrar el menú y moverlo hacia la izquierda */
    .hamMenuIcon.active + .menuLinks {
        display: flex;
        justify-content: center; 
        transform: translateX(-100%); 
    }

    .menuLinks a {
        margin: 20px 0;
        font-size: 1.5rem;
        text-align: center;
        color: rgba(255, 255, 255, 0.8); 
        transition: color 0.3s ease;
    }

    .menuLinks a:hover {
        color: rgba(101, 22, 193, 0.9);
    }
    .headerNav{
        padding: 30px 30px;
    }
}
