.footer {
    background-image: linear-gradient(79deg, #333333, #271425 48%, #291b12);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    color: #fff;
    position: relative;
    margin-top: 764px;
}

.socialsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; 
}

.socialsLeft {
    display: flex;
    gap: 50px;
}

.imgSocialMedia {
    width: 40px;
    height: 40px;
}

.creator {
    font-size: 18px;
    color: #ddd;
    text-align: right;
}

@media (max-width: 768px) {
    .footer {
        padding: 15px 0;
    }

    .socialMedia img {
        width: 32px;
        height: 32px;
    }

    .creator {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .socialsContainer {
        display: grid;
        grid-template-columns: repeat(1);
        justify-items: center;
        align-items: center;
        gap: 40px;
    }
    .socialMedia{
        margin-left: 30px;
    }
    .creator {
        font-size: 12px;
    }
}
