@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.title {
    color: black;
    margin-bottom: 10px;
}

.login-form {
    margin-bottom: 30px; 
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-image: linear-gradient(79deg, #7439db, #c66fbc 48%, #f7944d);
    border-radius: 3px;
    height: 600px;
}

input {
    padding: 10px 30px;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    display: block;
}

#text {
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #fff;
    color: black;
    margin-bottom: 10px;
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #ddd;
}


.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    background-color:black;
    text-align: center;
}

.table td {
    text-align: center;
}


.btnEdit {
    background-color:rgb(255, 193, 7);
    color: black;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 4px;
    margin-left: 10px;
}

.btnDelete{
    background-color: #dc3545;
    color: black;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 4px;
}

.btnDelete:hover, .btnEdit:hover {
    background-image: linear-gradient(79deg, #7439db, #c66fbc 48%, #f7944d);
}


.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 50px auto;
	text-align: center;
	background: #fff;
	box-shadow: 0px 0px 20px 0px rgba(209, 209, 209, 0.5);
	padding: 40px;
	border-radius: 5px;
	display: flex;
	gap: 20px;
}

label {
	width: 100%;
	font-size: 14px;
	color:#3f51b5;
}

.grupo {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.MuiInputBase-input.MuiInput-input {
	text-align: center;
	padding: 20px;
	font-size: 18px;
	text-transform: uppercase;
}
