h1 {
    text-align: center;
    margin-bottom: 50px;
}
.formLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-image: linear-gradient(79deg, #7439db, #c66fbc 48%, #f7944d);
    border-radius: 3px;
    height: 600px;
}
input {
    padding: 10px 30px;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    display: block;
}
.footerRegister{
    margin-bottom: -385px;
}
.formControl{
    width: 250px ;
}
.passwordToggleLogin {
    position: absolute;
    right: 540px; 
    top: 40%; 
    transform: translateY(185%); 
    background: none;
    border: none;
    cursor: pointer;
    color: #fff; 
    outline: none;
}

@media (max-width: 1399px){
    .passwordToggleLogin {
        right: 450px; 
    }
}
@media (max-width: 1199px){
    .passwordToggleLogin {
        right: 360px; 
    }
}
@media (max-width: 979px){
    .passwordToggleLogin {
        right: 250px; 
    }
}
@media (max-width: 761px){
    .passwordToggleLogin {
        right: 150px; 
    }
}
@media (max-width: 475px){
    .passwordToggleLogin {
        right: 120px;
        transform: translateY(175%); 
    }
}
@media (max-width: 425px){
    .passwordToggleLogin {
        right: 80px; 
    }
}