.recover-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 78.7vh;
    background-color: #f8f9fa;
}

.recover-password-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #343a40;
    font-family: 'Arial', sans-serif;
}

.recover-password-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.email-input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    outline: none;
    transition: border-color 0.3s;
}

.email-input:focus {
    border-color: #007bff;
}

.submit-btn {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #218838;
}

.message {
    margin-top: 15px;
    font-size: 1rem;
    color: #28a745;
    text-align: center;
}

@media (max-width: 600px) {
    .recover-password-form {
        width: 90%;
    }
}
