@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

h1 {
    text-align: center;
    margin-bottom: 50px;
}

.grupRegister {
    display: flex;
	flex-direction: column;
	width: 100%;
}
.registerFormFech{
    width: 20%;
	max-width: 900px;
    height: 140px;
	text-align: center;
	background: #fff;
	box-shadow: 0px 0px 20px 0px rgba(209, 209, 209, 0.5);
	padding: 40px;
	border-radius: 5px;
	display: flex;
	gap: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.formLabelRegister{
    width: 100%;
	font-size: 14px;
	color:#3f51b5;
}

.formUserRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-image: linear-gradient(79deg, #7439db, #c66fbc 48%, #f7944d);
    border-radius: 3px;
    height: 900px !important;
}

input {
    padding: 10px 30px;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    display: block;
}

#text {
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #fff;
    color: black;
    margin-bottom: 10px;
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #ddd;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    background-color:black;
    text-align: center;
}

.table td {
    text-align: center;
}

.btnDelete:hover, .btnEdit:hover {
    background-color: white;
    color: black;
}

#fecha {
    text-align: center;
	width: 100%;
	font-size: 14px;
	color:#3f51b5;
}

.MuiInputBase-input.MuiInput-input {
	text-align: center;
	padding: 20px;
	font-size: 18px;
	text-transform: uppercase;
}

.custom-datepicker {
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.react-datepicker__year-dropdown-container {
    margin-top: 10px;
}
.Btn {
    width: 150px;
    height: 50px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 13.5px;
    position: relative;
    overflow: hidden;
    border-radius: 40px;
    cursor: pointer;
    background: linear-gradient(-45deg, #6bc5f8, #cf59e6, #6bc5f8, #cf59e6);
    background-size: 1000% 1000%;
    animation: gradient 5s ease infinite;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.247);
    transition-duration: .1s;
}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.Btn::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 100%;
    left: -70px;
    top: 0;
    background-color: rgba(214, 199, 255, 0.329);
    filter: blur(10px);
    transition-duration: .3s;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.Btn:hover::before {
    transform: translateX(250px);
    transition-duration: .3s;
}
.Btn:active {
    transform: translate(2px,2px);
    transition-duration: .1s;
}


.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus, input:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

@media (max-width: 1200px) {
    .registerFormFech{
        width: 300px ;
    }
}
@media (max-width: 500px) {
    .registerFormFech{
        width: 250px ;
    }
}
