.reset-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 78.7vh;
    background-color: #f0f0f0;
}

.reset-password-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    font-family: 'Arial', sans-serif;
}

.reset-password-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.input-container {
    margin-bottom: 15px;
    position: relative;
}

.password-input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.password-input:focus {
    border-color: #007bff;
}

.toggle-password-btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 15px;
    width: 100%;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.toggle-password-btn:hover {
    background-color: #0056b3;
}

.submit-btn {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #218838;
}

/* .footerResetPassword{
    margin-top: 20px;
} */

@media (max-width: 600px) {
    .reset-password-form {
        width: 90%;
    }
}
